doctype html
html
    head
        title= title
        base(href='/')
             
    body
        app-root loading
        script(type='text/javascript', src='/polyfills.js')
        script(type='text/javascript', src='/vendor.js')
        script(type='text/javascript', src='/app.js')
